/*--------------------------------------------------
fonts
--------------------------------------------------*/
@mixin han-sans{
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin han-sans-r{
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin klee{ 
  font-family: fot-klee-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin midashi-mi {
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;
}

// todo: h2のheader, republicとどちらが良いか検討。republiucになった場合tenezは不要
@mixin tenez-r{
  font-family: tenez,sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin republic{
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ryumin{
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

/*--------------------------------------------------
mixin
--------------------------------------------------*/

@mixin btn-common{
  background: $pink-lv2;
  border-radius: 0px;
  color:$white;
  @include republic;
  .btn__jp{
    @include klee;
  }
}

@mixin label-common{
  @include republic;
  .label__jp{
    @include klee;
  }
}

@mixin form-reset {
  border: none;
  outline:none;
  background: none;
  resize: none;
}

/*--------------------------------------------------
要素に共通
--------------------------------------------------*/

body {
  background-color: $pink-lv1;
  color: $gray-lv3;
  @include han-sans;
  font-size: 14px;
}

a:link, a:visited{
  color: inherit;
}

/*--------------------------------------------------
汎用クラス
--------------------------------------------------*/
.h2-header{
  @include republic;
  color: $gray-lv3;
}

.read-more{
  color: $pink-lv3;
}

/*--------------------------------------------------
その他関数
--------------------------------------------------*/

$pink-dt-border: dotted 2px $pink-lv3;
