body {
  background-color: $pink-lv1;
  color: $gray-lv5;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:link, a:visited{
  color: $white;
}

.klee{
  color: $gray-lv5;
  font-family: fot-klee-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.republic{
  color: $gray-lv5;
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal;
}
