header {
  background-color: $pink-lv2;

  .header-logo {
    position: absolute;
    top:-1.5rem;
    left: 0;
    z-index: 100;
    background: #fff;
    width: 100px;
  
    &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 3.1rem solid transparent;
    border-right: 3.1rem solid transparent;
    border-top: 20px solid $white;
    }
  }
  .header-nav{
    font-size: 1rem;
    color: $white;
  }
}

.keyvis-caption{
  @include klee;
  color: $gray-lv3;
  font-size: xx-large;
  background-color: $white-hue;
}

/* main------------------------------------------*/
main{
  .top-news{
    background: $white;
    .news__right{
      .news-box{
        &__header{
          @include han-sans-r;
          font-size: 16px;
        }
      }
    }
  }

  .events-container{
    .events{
      .event{
        &__content{
          &__header{
            @include midashi-mi;
            font-size: 18px;
          }
        }
      }
    }
  }  
}

/* aside------------------------------------------*/
aside{
  .right-nav{
    &__list{
      border-top: solid 1px $gray-lv2;
      &:last-child{
        border-bottom: solid 1px $gray-lv2;
      }
      a{
        color: $gray-lv3;
      }
    }
  }
}

/* aboutus contact------------------------------------------*/

.aboutus-container{
  background-color: $white;
  background-image: url(img/flower-bouket.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;

  &__left{
    .test{
      margin-top: 5rem;
      .aboutus{
        height: 250px;
        &__btn-box{
          margin-top: 2rem;
          &__btn{
            @include btn-common;
          }
        }
      }
    }
  }
}

.contactus-container{
  .contactus{
    &__form{
      .radio-box{
        .form-check-label{
          a{
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .label-inline{
        @include label-common;
        border-bottom: $pink-dt-border;
        .input-area{
          @include form-reset;
        }
      }
      .label-block{
        @include label-common;
      }
      .textarea{
        @include form-reset;
        border: $pink-dt-border;
      }
      .submit-area{
        .btn__submit{
          @include btn-common;
          background: $pink-lv3;
          border-radius: 0;
        }
      }
      .form-tab{
        height: 400px;
      }
    }
  }
}

/* aboutus contact------------------------------------------*/
.footer{
  background-color: $pink-lv2;
  color:$white;
  &__header{
    font-size: 1rem;
    color: $white;
    @include han-sans-r;
  }
}

/*------------------------------------------
  トップに戻るボタン
-------------------------------------------*/
.back-to-top{
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: -20px;
  &__icon{
   font-size: 5rem;
   color: $pink-lv3;
   font-style: normal;
   font-weight: 200;
  }
}


/* mediaquery------------------------------------------*/
// lgサイズ以上
@media screen and (min-width: 992px){
  header{
    .header-logo {
      width: auto;
      max-width: 180px;
    
      &::after{
      border-left: 5.6rem solid transparent;
      border-right: 5.6rem solid transparent;
      border-top: 20px solid $white;
      }
    }
  }

  .back-to-top{
    width: 100px;
    height: 100px;
    display: none;
    position: fixed;
    bottom: 300px;
    right: 100px;
    &__icon{
     font-size: 5rem;
     color: $pink-lv3;
     font-style: normal;
     font-weight: 200;
    }
  }
  

}
// smallサイズ以上
@media screen and (min-width: 576px){
  .aboutus-container{
    background-size:contain ;
  }
  .back-to-top{
    bottom: 150px;
    right: 50px;
  }

}
