.back-to-top{
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 300px;
  right: 100px;
  &__icon{
   font-size: 5rem;
   color: $pink-lv3;
   font-style: normal;
   font-weight: 200;
  }
}
