@charset "UTF-8";
/*--------------------------------------------------
fonts
--------------------------------------------------*/
.tenez-l {
  font-family: tenez,sans-serif;
  font-weight: 300;
  font-style: normal; }

/*--------------------------------------------------
mixin
--------------------------------------------------*/
/*--------------------------------------------------
要素に共通
--------------------------------------------------*/
body {
  background-color: #F6F0EB;
  color: #707070;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px; }

a:link, a:visited {
  color: inherit; }

/*--------------------------------------------------
汎用クラス
--------------------------------------------------*/
.h2-header {
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal;
  color: #707070; }

.read-more {
  color: #CC818A; }

/*--------------------------------------------------
その他関数
--------------------------------------------------*/
header {
  background-color: #E6C0BD; }
  header .header-logo {
    position: absolute;
    top: -1.5rem;
    left: 0;
    z-index: 100;
    background: #fff;
    max-width: 180px; }
    header .header-logo::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      height: 0;
      width: 0;
      border-left: 5.6rem solid transparent;
      border-right: 5.6rem solid transparent;
      border-top: 20px solid #FFFdFd; }
  header .header-nav {
    font-size: 1rem;
    color: #FFFdFd; }

.keyvis-caption {
  font-family: fot-klee-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #707070;
  font-size: xx-large;
  background-color: agba(255, 255, 255, 0.75); }

/* main------------------------------------------*/
main .top-news {
  background: #FFFdFd; }
  main .top-news .news__right .news-box__header {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px; }
main .events-container .events .event__content__header {
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px; }

/* aside------------------------------------------*/
aside .right-nav__list {
  border-top: solid 1px #CCCCCC; }
  aside .right-nav__list:last-child {
    border-bottom: solid 1px #CCCCCC; }
  aside .right-nav__list a {
    color: #707070; }

/* aboutus contact------------------------------------------*/
.aboutus-container {
  background-color: #FFFdFd;
  background-image: url(img/flower-bouket.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain; }
  .aboutus-container__left .test {
    margin-top: 5rem; }
    .aboutus-container__left .test .aboutus {
      height: 250px; }
      .aboutus-container__left .test .aboutus__btn-box {
        margin-top: 2rem; }
        .aboutus-container__left .test .aboutus__btn-box__btn {
          background: #E6C0BD;
          color: #FFFdFd;
          font-family: republic-web, serif;
          font-weight: 400;
          font-style: normal; }
          .aboutus-container__left .test .aboutus__btn-box__btn .btn__jp {
            font-family: fot-klee-pro, sans-serif;
            font-weight: 500;
            font-style: normal; }

.contactus-container .contactus__form .radio-box .form-check-label a:hover {
  text-decoration: none; }
.contactus-container .contactus__form .label-inline {
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: dotted 2px #CC818A; }
  .contactus-container .contactus__form .label-inline .label__jp {
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal; }
  .contactus-container .contactus__form .label-inline .input-area {
    border: none;
    outline: none;
    background: none;
    resize: none; }
.contactus-container .contactus__form .label-block {
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal; }
  .contactus-container .contactus__form .label-block .label__jp {
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal; }
.contactus-container .contactus__form .textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
  border: dotted 2px #CC818A; }
.contactus-container .contactus__form .submit-area .btn__submit {
  background: #E6C0BD;
  color: #FFFdFd;
  font-family: republic-web, serif;
  font-weight: 400;
  font-style: normal;
  background: #CC818A;
  border-radius: 0; }
  .contactus-container .contactus__form .submit-area .btn__submit .btn__jp {
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal; }
.contactus-container .contactus__form .form-tab {
  height: 400px; }

/* aboutus contact------------------------------------------*/
.footer {
  background-color: #E6C0BD;
  color: #FFFdFd; }
  .footer__header {
    font-size: 1rem;
    color: #FFFdFd;
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 500;
    font-style: normal; }

/*------------------------------------------
  トップに戻るボタン
-------------------------------------------*/
.back-to-top {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 300px;
  right: 100px; }
  .back-to-top__icon {
    font-size: 5rem;
    color: #CC818A;
    font-style: normal;
    font-weight: 200; }

/*------------------------------------------
  フォームのタブ切り替え
-------------------------------------------*/
.form-panel {
  display: none;
  min-height: 300px; }

.active {
  display: block; }

/*# sourceMappingURL=style.css.map */
